body {
	background-image: url("../images/background-fixed.jpg");
	background-size: cover;
}

.mainHeader {
	text-align: center;
}

.center {
	text-align: center;
}

.portrait {
	/*justify-content: center;*/
	/*border: 1px black solid;*/
	margin: 0 auto;
	float: left;

}

.row {
	/*border: 1px black solid;*/
}

.invisible {
	
}
